body {
}
a:hover{
    text-decoration:none;
}

.email {
    background: url("https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
    min-height: 200px;
    padding: 70px 0px;
    width:100%;
}

.email h2, .email p {
    color: #FFF;
    font-weight: 600;
}

#email-adresi {
    margin-top: 20px;
    border: none;
    width:50%;
    height:40px;
    padding-left:10px;
}


.footer {
    padding:100px 0px;
	color: #ccc;
    background-color: #222;
}

.footer h3 {
	color: #FFF;
	font-size:15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom:20px;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}

.footer ul li a {
	padding: 10px 0px;
    display: block;
    color: #ccc;
    font-weight: 600;
    font-size: 13px;
}

.footer ul li a:hover{
	color:#1e76a8;
}

.footer-bottom{
	background-color: #111;
    color: #282c2d;
    font-size: 12px;
	text-align: center;
	height: 50px;
    line-height: 50px;
}

.footer-bottom p{
	font-size:13px;
	color: #FFF;
}

.footer-top{
	background-color: #f7f7f7;
    text-align: center;
}

.footer-top .social-icons{
   padding:50px 0px;
}

.footer-top .social-icons i{
	padding:0px 20px;
	font-size:20px;
	color: #aaa;
}

.footer-top .social-icons i:hover{
	color:#1e76a8;
}

.logo{
   color:#FFF;
   font-size:30px;
   font-weight:600;
}
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}
.list-number li  {
    margin-right: 5px;
    margin-left: 0px;
    top: 5px;
    display:inline-block;
    
}

.list-enquiry li  {
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom:5px;
    top: 15px;
    display:inline-block;
    
}

img{width:80%;}

.small-padding-bg {
    box-shadow: 3px 3px 5px #c2c2c2, -3px -3px 5px #c2c2c2;
}